<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">
  
  <context-param>  
	  <param-name>greeting</param-name> 
	  <param-value>Howdy</param-value> 
  </context-param> 
  
  <servlet>
	  <servlet-name>HiServlet</servlet-name>
	  <servlet-class>com.pluralsight.tomcat.HelloServlet</servlet-class>
  </servlet>
  <servlet>
	  <servlet-name>HiJSP</servlet-name>
	  <jsp-file>/hello.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>HiServlet</servlet-name>
	  <url-pattern>/aloha</url-pattern>>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>HiJSP</servlet-name>
	  <url-pattern>/hola</url-pattern>
  </servlet-mapping>
	  
</web-app>
